name: Docker Build Check

on:
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Set metadata
        id: metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: latex
          tags: |
            type=semver,pattern={{raw}}
            type=sha,format=short

      - name: Build
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6.19.2
        with:
          context: .
          file: ./dockerfiles/texlive/Dockerfile
          push: false
          tags: ${{ steps.metadata.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          outputs: type=docker

      - name: Check image
        run: |
          cd sample
          docker run --rm -v $(pwd):/latex ${{steps.metadata.outputs.tags}} bash -c \
            "ptex2pdf -u -l -ot '-kanji=utf8 -synctex=1 -interaction=nonstopmode' sample.tex && \
            pbibtex sample && \
            ptex2pdf -u -l -ot '-kanji=utf8 -synctex=1 -interaction=nonstopmode' sample.tex && \
            ptex2pdf -u -l -ot '-kanji=utf8 -synctex=1 -interaction=nonstopmode' sample.tex"

      - name: Upload PDF as artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: pdf-artifact
          path: sample/sample.pdf
  pdf-comparison:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Download PDF artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: pdf-artifact
          path: tmp

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Cache Docker layers
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ hashFiles('dockerfiles/pdf-to-image/Dockerfile') }}-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-${{ hashFiles('dockerfiles/pdf-to-image/Dockerfile') }}-

      - name: Build pdf-to-image
        run: make buildx.pdf

      - name: Convert PDF to PNG
        run: |
          docker run --rm -v $(pwd):/pdf pdf bash -c "pdftoppm -png sample/sample.pdf tmp/ref"

          docker run --rm -v $(pwd):/pdf pdf bash -c "pdftoppm -png tmp/sample.pdf tmp/act"

          ls tmp

      - name: Compare PNG
        run: |
          PAGE_COUNT_REF=$(ls tmp/ref-*.png | wc -l)
          PAGE_COUNT_ACT=$(ls tmp/act-*.png | wc -l)

          if [ $PAGE_COUNT_REF -ne $PAGE_COUNT_ACT ]; then
            echo "Error: Page count mismatch $PAGE_COUNT_REF != $PAGE_COUNT_ACT"
            exit 1
          fi

          DIFF_COUNT=0

          for i in $(seq 1 $PAGE_COUNT_REF); do
            docker run --rm -v $(pwd)/tmp:/pdf pdf bash -c "compare -metric RMSE ref-$i.png act-$i.png diff-$i.png 2>&1"

            echo "Page $i: $?"
            if [ $? -ne 0 ]; then
              DIFF_COUNT=$((DIFF_COUNT+1))
            fi
          done

          if [ $DIFF_COUNT -ne 0 ]; then
            echo "Error: $DIFF_COUNT pages are different"
            exit 1
          else
            echo "All pages are the same"
          fi

      - name: Upload diff as artifact
        if: ${{ failure() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: diff-artifact
          path: tmp
