name: textlint Check

on:
  push:
    paths:
      - "**/*.tex"
      - ".textlintrc"
      - "package*.json"
      - "README.md"

jobs:
  textlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install

      - name: Lint README
        run: npx textlint README.md

      - name: Lint tex
        run: npx textlint **/*.tex
