name: textlint Check

on:
  push:
    paths:
      - "**/*.tex"
      - ".textlintrc"
      - "package*.json"
      - "README.md"

jobs:
  textlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install

      - name: Lint README
        run: npx textlint README.md

      - name: Lint tex
        run: npx textlint **/*.tex
